In [1]:
import os
# Find the latest version of spark 3.2 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.2.3'
spark_version = 'spark-3.2.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Get:2 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:3 http://archive.ubuntu.com/ubuntu focal InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease [1,581 B]
Get:5 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Get:7 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  Packages [993 kB]
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:11 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [2,139 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Get:13 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [2,277 kB]
Get:14 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [2,629 kB]
Hit:15 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:16 http://security.ubuntu.com/ubuntu focal-security/universe amd64 Packages [1,033 kB]
Get:17 http://security.ubuntu.com/ubuntu focal-security/multiverse amd64 Packages [28.5 kB]
Get:18 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3,111 kB]
Get:19 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,329 kB]
Get:20 http://archive.ubuntu.com/ubuntu focal-updates/multiverse amd64 Packages [31.2 kB]
Fetched 13.9 MB in 4s (3,860 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2023-04-20 15:37:31--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  6.01MB/s    in 0.2s

2023-04-20 15:37:31 (6.01 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [4]:
from pyspark import SparkFiles
# Load in the review data from S3 into the dataframe
url = "https://unbearable-1-project-bucket.s3.us-east-2.amazonaws.com/Diabetes_Key_Indicators.csv"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep=",", header=True, inferSchema=True)
df.show()

+---+------+------+-----------+------+-----+-------+--------+-------------+-------------+--------+--------+--------+--------+--------+-------+-------+--------+-------+--------------------+--------+--------+--------+--------+--------+-------+-------+--------+--------+-------+--------+-------+------+-------+--------+--------+--------+--------+--------+--------+--------+--------+-------+------+--------+-------+--------+--------+--------+--------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+-------+-----+--------+--------+--------+--------+--------+-------+--------+-------+--------+-------+-------+----+-----+------+--------+--------+--------+--------+--------+-------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-------+--------+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+------+-------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+-------+--------+--------+--------+-------+--------+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+------+--------+--------+------+-------+--------+--------+------+-------+------------------+--------+------------------+--------+--------+-------+--------+-----+--------+--------+------------------+------------------+------------------+-------+--------+--------+--------+--------+--------+--------+--------+--------+------+--------+--------+--------+--------+--------+--------+-------+-------+--------+-----+--------+--------+--------+----+--------+--------+------+------+-----+-----+-------+------+--------+-------+--------+-------+--------+--------+--------+--------+--------+--------------------+--------+--------------------+--------+--------+--------+--------+--------------------+--------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------+--------+--------+--------+-------+-------+--------------------+--------------------+
|_c0|_STATE|FMONTH|      IDATE|IMONTH| IDAY|  IYEAR|DISPCODE|        SEQNO|         _PSU|CTELENM1|PVTRESD1|COLGHOUS|STATERE1|CELPHON1|LADULT1|COLGSEX|NUMADULT|LANDSEX|              NUMMEN|NUMWOMEN|RESPSLCT|SAFETIME|CTELNUM1|CELLFON5|CADULT1|CELLSEX|PVTRESD3|CCLGHOUS|CSTATE1|LANDLINE|HHADULT|SEXVAR|GENHLTH|PHYSHLTH|MENTHLTH|POORHLTH|PRIMINSR|PERSDOC3|MEDCOST1|CHECKUP1|EXERANY2|BPHIGH6|BPMEDS|CHOLCHK3|TOLDHI3|CHOLMED3|CVDINFR4|CVDCRHD4|CVDSTRK3|ASTHMA3|ASTHNOW|CHCSCNCR|CHCOCNCR|CHCCOPD3|ADDEPEV3|CHCKDNY2|DIABETE4|DIABAGE3|HAVARTH5|ARTHEXER|ARTHEDU|LMTJOIN3|ARTHDIS2|JOINPAI2|MARITAL|EDUCA|RENTHOM1|NUMHHOL3|NUMPHON3|CPDEMO1B|VETERAN3|EMPLOY1|CHILDREN|INCOME3|PREGNANT|WEIGHT2|HEIGHT3|DEAF|BLIND|DECIDE|DIFFWALK|DIFFDRES|DIFFALON|SMOKE100|SMOKDAY2|USENOW3|ECIGNOW1|ALCDAY5|AVEDRNK3|DRNK3GE5|MAXDRNKS|FLUSHOT7|FLSHTMY3|IMFVPLA2|PNEUVAC4|HIVTST7|HIVTSTD3|FRUIT2|FRUITJU2|FVGREEN1|FRENCHF1|POTATOE1|VEGETAB2|PDIABTST|PREDIAB1|INSULIN1|BLDSUGAR|FEETCHK3|DOCTDIAB|CHKHEMO3|FEETCHK|EYEEXAM1|DIABEYE|DIABEDU|TOLDCFS|HAVECFS|WORKCFS|TOLDHEPC|TRETHEPC|PRIRHEPC|HAVEHEPC|HAVEHEPB|MEDSHEPB|HPVADVC4|HPVADSHT|TETANUS1|SHINGLE2|LCSFIRST|LCSLAST|LCSNUMCG|LCSCTSCN|HADMAM|HOWLONG|CERVSCRN|CRVCLCNC|CRVCLPAP|CRVCLHPV|HADHYST2|PSATEST1|PSATIME1|PCPSARS2|PCSTALK|HADSIGM4|COLNSIGM|COLNTES1|SIGMTES1|LASTSIG4|COLNCNCR|VIRCOLO1|VCLNTES1|SMALSTOL|STOLTEST|STOOLDN1|BLDSTFIT|SDNATES1|CNCRDIFF|CNCRAGE|CNCRTYP1|CSRVTRT3|CSRVDOC1|CSRVSUM|CSRVRTRN|CSRVINST|CSRVINSR|CSRVDEIN|CSRVCLIN|CSRVPAIN|CSRVCTL2|HOMBPCHK|HOMRGCHK|WHEREBP|SHAREBP|WTCHSALT|DRADVISE|CIMEMLOS|CDHOUSE|CDASSIST|CDHELP|CDSOCIAL|CDDISCUS|CAREGIV1|CRGVREL4|CRGVLNG1|CRGVHRS1|CRGVPRB3|CRGVALZD|CRGVPER1|CRGVHOU1|CRGVEXPT|ACEDEPRS|ACEDRINK|ACEDRUGS|ACEPRISN|ACEDIVRC|ACEPUNCH|ACEHURT1|ACESWEAR|ACETOUCH|ACETTHEM|ACEHVSEX|ACEADSAF|ACEADNED|MARIJAN1|USEMRJN3|RSNMRJN2|LASTSMK2|STOPSMK2|FIREARM5|GUNLOAD|LOADULK2|RCSGENDR|RCSRLTN2|CASTHDX2|CASTHNO2|BIRTHSEX|SOMALE|SOFEMALE|TRNSGNDR|QSTVER|QSTLANG|_METSTAT|_URBSTAT|MSCODE| _STSTR|            _STRWT|_RAWRAKE|          _WT2RAKE|_IMPRACE|_CHISPNC|_CRACE1|_CPRACE1|CAGEG|_CLLCPWT|_DUALUSE|          _DUALCOR|          _LLCPWT2|           _LLCPWT|_RFHLTH|_PHYS14D|_MENT14D|_HLTHPLN|_HCVU652|_TOTINDA|_RFHYPE6|_CHOLCH3|_RFCHOL3|_MICHD|_LTASTH1|_CASTHM1|_ASTHMS1|_DRDXAR3|_LMTACT3|_LMTWRK3|_PRACE1|_MRACE1|_HISPANC|_RACE|_RACEG21|_RACEGR3|_RACEPRV|_SEX|_AGEG5YR|_AGE65YR|_AGE80|_AGE_G|HTIN4| HTM4|  WTKG3| _BMI5|_BMI5CAT|_RFBMI5|_CHLDCNT|_EDUCAG|_INCOMG1|_SMOKER3|_RFSMOK3|_CURECI1|DRNKANY5|            DROCDY3_|_RFBING5|            _DRNKWK1|_RFDRHV7|_FLSHOT7|_PNEUMO3|_AIDTST4|            FTJUDA2_|FRUTDA2_|            GRENDA1_|            FRNCHDA_|            POTADA1_|VEGEDA2_|            _MISFRT1|            _MISVEG1|            _FRTRES1|            _VEGRES1|_FRUTSU1|_VEGESU1|_FRTLT1A|_VEGLT1A|_FRT16A|_VEG23A|            _FRUITE1|            _VEGETE1|
+---+------+------+-----------+------+-----+-------+--------+-------------+-------------+--------+--------+--------+--------+--------+-------+-------+--------+-------+--------------------+--------+--------+--------+--------+--------+-------+-------+--------+--------+-------+--------+-------+------+-------+--------+--------+--------+--------+--------+--------+--------+--------+-------+------+--------+-------+--------+--------+--------+--------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+-------+-----+--------+--------+--------+--------+--------+-------+--------+-------+--------+-------+-------+----+-----+------+--------+--------+--------+--------+--------+-------+--------+-------+--------+--------+--------+--------+--------+--------+--------+-------+--------+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+------+-------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+-------+--------+--------+--------+-------+--------+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+--------+--------+--------+--------+--------+--------+------+--------+--------+------+-------+--------+--------+------+-------+------------------+--------+------------------+--------+--------+-------+--------+-----+--------+--------+------------------+------------------+------------------+-------+--------+--------+--------+--------+--------+--------+--------+--------+------+--------+--------+--------+--------+--------+--------+-------+-------+--------+-----+--------+--------+--------+----+--------+--------+------+------+-----+-----+-------+------+--------+-------+--------+-------+--------+--------+--------+--------+--------+--------------------+--------+--------------------+--------+--------+--------+--------+--------------------+--------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------+--------+--------+--------+-------+-------+--------------------+--------------------+
|  0|   1.0|   1.0|b'01192021'| b'01'|b'19'|b'2021'|  1100.0|b'2021000001'|2.021000001E9|     1.0|     1.0|    null|     1.0|     2.0|    1.0|   null|     2.0|   null|                 1.0|     1.0|     2.0|    null|    null|    null|   null|   null|    null|    null|   null|    null|   null|   2.0|    5.0|    20.0|    10.0|    88.0|     3.0|     1.0|     2.0|     2.0|     2.0|    3.0|  null|     2.0|    1.0|     1.0|     2.0|     2.0|     2.0|    1.0|    1.0|     2.0|     2.0|     1.0|     2.0|     2.0|     3.0|    null|     1.0|     2.0|    2.0|     2.0|     1.0|     8.0|    1.0|  4.0|     1.0|     1.0|     1.0|     1.0|     2.0|    7.0|    88.0|    5.0|    null|   72.0|  411.0| 2.0|  2.0|   2.0|     2.0|     2.0|     1.0|     1.0|     3.0|    3.0|     3.0|  888.0|    null|    null|    null|     1.0| 92020.0|     1.0|     1.0|    2.0|    null| 101.0|   555.0|   204.0|   203.0|   201.0|   101.0|     2.0|     3.0|    null|    null|    null|    null|    null|   null|    null|   null|   null|   null|   null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|  null|   null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|   null|    null|    null|    null|   null|    null|  null|    null|    null|     2.0|    null|    null|    null|    null|    null|    null|    null|     2.0|     2.0|     2.0|     2.0|     2.0|     1.0|     1.0|     1.0|     1.0|     1.0|     1.0|     1.0|     5.0|     3.0|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|  null|    null|    null|  10.0|    1.0|     1.0|     1.0|   1.0|11011.0|39.766157742553204|     2.0| 79.53231548510641|     1.0|     9.0|   null|    null| null|    null|     1.0|0.5190191247367235| 874.2429016362627| 744.7455308997082|    2.0|     3.0|     2.0|     1.0|     9.0|     2.0|     1.0|     1.0|     2.0|   2.0|     2.0|     2.0|     1.0|     1.0|     2.0|     1.0|    1.0|    1.0|     2.0|  1.0|     1.0|     1.0|     1.0| 2.0|    11.0|     2.0|  70.0|   6.0| 59.0|150.0| 3266.0|1454.0|     1.0|    1.0|     1.0|    2.0|     3.0|     3.0|     1.0|     1.0|     2.0|5.397605346934028...|     1.0|5.397605346934028...|     1.0|     1.0|     1.0|     2.0|5.397605346934028...|   100.0|                57.0|                43.0|                14.0|   100.0|5.397605346934028...|5.397605346934028...|                 1.0|                 1.0|   100.0|   214.0|     1.0|     1.0|    1.0|    1.0|5.397605346934028...|5.397605346934028...|
|  1|   1.0|   1.0|b'01212021'| b'01'|b'21'|b'2021'|  1100.0|b'2021000002'|2.021000002E9|     1.0|     1.0|    null|     1.0|     2.0|    1.0|   null|     2.0|   null|                 1.0|     1.0|     2.0|    null|    null|    null|   null|   null|    null|    null|   null|    null|   null|   2.0|    3.0|    88.0|    88.0|    null|     1.0|     2.0|     2.0|     1.0|     1.0|    1.0|   1.0|     2.0|    1.0|     1.0|     2.0|     1.0|     2.0|    2.0|   null|     2.0|     2.0|     2.0|     2.0|     1.0|     1.0|    98.0|     1.0|     1.0|    2.0|     1.0|     1.0|    10.0|    9.0|  6.0|     1.0|     2.0|    null|     1.0|     2.0|    8.0|    88.0|   77.0|    null| 7777.0|  506.0| 2.0|  1.0|   1.0|     1.0|     2.0|     1.0|     2.0|    null|    3.0|     3.0|  888.0|    null|    null|    null|     2.0|    null|    null|     2.0|    2.0|    null| 101.0|   555.0|   201.0|   555.0|   201.0|   207.0|    null|    null|    null|    null|    null|    null|    null|   null|    null|   null|   null|   null|   null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|  null|   null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|   null|    null|    null|    null|   null|    null|  null|    null|    null|     2.0|    null|    null|    null|    null|    null|    null|    null|     2.0|     2.0|     2.0|     2.0|     2.0|     2.0|     1.0|     1.0|     1.0|     1.0|     1.0|     1.0|     5.0|     5.0|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|  null|    null|    null|  10.0|    1.0|     1.0|     1.0|   2.0|11011.0|39.766157742553204|     2.0| 79.53231548510641|     2.0|     9.0|   null|    null| null|    null|     1.0|0.5190191247367235| 874.2429016362627|299.13739421193344|    1.0|     1.0|     1.0|     1.0|     9.0|     1.0|     2.0|     1.0|     2.0|   1.0|     1.0|     1.0|     3.0|     1.0|     1.0|     1.0|    2.0|    2.0|     2.0|  2.0|     2.0|     2.0|     2.0| 2.0|    10.0|     2.0|  67.0|   6.0| 66.0|168.0|   null|  null|    null|    9.0|     1.0|    4.0|     9.0|     4.0|     1.0|     1.0|     2.0|5.397605346934028...|     1.0|5.397605346934028...|     1.0|     2.0|     2.0|     2.0|5.397605346934028...|   100.0|                14.0|5.397605346934028...|                14.0|   100.0|5.397605346934028...|5.397605346934028...|                 1.0|                 1.0|   100.0|   128.0|     1.0|     1.0|    1.0|    1.0|5.397605346934028...|5.397605346934028...|
|  2|   1.0|   1.0|b'01212021'| b'01'|b'21'|b'2021'|  1100.0|b'2021000003'|2.021000003E9|     1.0|     1.0|    null|     1.0|     2.0|    1.0|   null|     2.0|   null|                 1.0|     1.0|     2.0|    null|    null|    null|   null|   null|    null|    null|   null|    null|   null|   2.0|    2.0|    88.0|    88.0|    null|     2.0|     2.0|     2.0|     1.0|     2.0|    1.0|   1.0|     2.0|    2.0|     2.0|     2.0|     1.0|     2.0|    2.0|   null|     2.0|     2.0|     2.0|     2.0|     2.0|     1.0|    98.0|     2.0|    null|   null|    null|    null|    null|    3.0|  4.0|     1.0|     2.0|    null|     1.0|     2.0|    7.0|    88.0|    3.0|    null|  170.0|  505.0| 2.0|  2.0|   2.0|     2.0|     2.0|     2.0|     2.0|    null|    3.0|     3.0|  888.0|    null|    null|    null|     2.0|    null|    null|     2.0|    2.0|    null| 101.0|   555.0|   555.0|   201.0|   201.0|   203.0|    null|    null|    null|    null|    null|    null|    null|   null|    null|   null|   null|   null|   null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|  null|   null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|   null|    null|    null|    null|   null|    null|  null|    null|    null|     2.0|    null|    null|    null|    null|    null|    null|    null|     2.0|     2.0|     2.0|     2.0|     2.0|     2.0|     1.0|     1.0|     1.0|     1.0|     1.0|     1.0|     5.0|     5.0|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|  null|    null|    null|  10.0|    1.0|     1.0|     1.0|   1.0|11011.0|39.766157742553204|     2.0| 79.53231548510641|     2.0|     9.0|   null|    null| null|    null|     1.0|0.5190191247367235| 874.2429016362627| 587.8629860681576|    1.0|     1.0|     1.0|     1.0|     9.0|     2.0|     2.0|     1.0|     1.0|   1.0|     1.0|     1.0|     3.0|     2.0|     3.0|     3.0|    2.0|    2.0|     2.0|  2.0|     2.0|     2.0|     2.0| 2.0|    11.0|     2.0|  72.0|   6.0| 65.0|165.0| 7711.0|2829.0|     3.0|    2.0|     1.0|    2.0|     2.0|     4.0|     1.0|     1.0|     2.0|5.397605346934028...|     1.0|5.397605346934028...|     1.0|     2.0|     2.0|     2.0|5.397605346934028...|   100.0|5.397605346934028...|                14.0|                14.0|    43.0|5.397605346934028...|5.397605346934028...|                 1.0|                 1.0|   100.0|    71.0|     1.0|     2.0|    1.0|    1.0|5.397605346934028...|5.397605346934028...|
|  3|   1.0|   1.0|b'01172021'| b'01'|b'17'|b'2021'|  1100.0|b'2021000004'|2.021000004E9|     1.0|     1.0|    null|     1.0|     2.0|    1.0|   null|     2.0|   null|                 1.0|     1.0|     2.0|    null|    null|    null|   null|   null|    null|    null|   null|    null|   null|   2.0|    2.0|    88.0|    10.0|    88.0|     2.0|     1.0|     2.0|     1.0|     1.0|    1.0|   1.0|     2.0|    1.0|     2.0|     2.0|     2.0|     2.0|    2.0|   null|     2.0|     2.0|     2.0|     2.0|     2.0|     1.0|    56.0|     2.0|    null|   null|    null|    null|    null|    1.0|  4.0|     1.0|     2.0|    null|     1.0|     2.0|    7.0|    88.0|    7.0|    null|  195.0|  504.0| 2.0|  2.0|   2.0|     2.0|     2.0|     2.0|     2.0|    null|    3.0|     3.0|  101.0|     3.0|     1.0|     6.0|     1.0|102020.0|     1.0|     2.0|    2.0|    null| 203.0|   205.0|   303.0|   204.0|   308.0|   205.0|    null|    null|    null|    null|    null|    null|    null|   null|    null|   null|   null|   null|   null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|  null|   null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|    null|    null|    null|   null|   null|    null|    null|    null|   null|    null|  null|    null|    null|     2.0|    null|    null|    null|    null|    null|    null|    null|     7.0|     1.0|     2.0|     2.0|     2.0|     2.0|     1.0|     3.0|     1.0|     1.0|     1.0|     1.0|     5.0|     5.0|    null|    null|    null|    null|    null|    null|   null|    null|    null|    null|    null|    null|    null|  null|    null|    null|  10.0|    1.0|     1.0|     1.0|   3.0|11011.0|39.766157742553204|     2.0| 79.53231548510641|     1.0|     9.0|   null|    null| null|    null|     1.0|0.5190191247367235| 874.2429016362627|1099.6215734328375|    1.0|     1.0|     2.0|     1.0|     1.0|     1.0|     2.0|     1.0|     2.0|   2.0|     1.0|     1.0|     3.0|     2.0|     3.0|     3.0|    1.0|    1.0|     2.0|  1.0|     1.0|     1.0|     1.0| 2.0|     9.0|     1.0|  62.0|   5.0| 64.0|163.0| 8845.0|3347.0|     4.0|    2.0|     1.0|    2.0|     5.0|     4.0|     1.0|     1.0|     1.0|                14.0|     2.0|               300.0|     1.0|    null|    null|     2.0|                71.0|    43.0|                10.0|                57.0|                27.0|    71.0|5.397605346934028...|5.397605346934028...|                 1.0|                 1.0|   114.0|   165.0|     1.0|     1.0|    1.0|    1.0|5.397605346934028...|5.397605346934028...|

In [5]:
new_df = df.select(["DIABETE4",
                    "_RACE",
                    "TOLDHI3",
                    "BPHIGH6",
                    "_BMI5",
                    "SMOKE100",
                    "_RFBING5",
                    "EDUCA",
                    "GENHLTH",
                    "_AGEG5YR",
                    "EXERANY2",
                    "FRUIT2",
                    "VEGETAB2",
                    "_INCOMG1",
                    "MEDCOST1",
                    "_SEX"])
new_df.show()

+--------+-----+-------+-------+------+--------+--------+-----+-------+--------+--------+------+--------+--------+--------+----+
|DIABETE4|_RACE|TOLDHI3|BPHIGH6| _BMI5|SMOKE100|_RFBING5|EDUCA|GENHLTH|_AGEG5YR|EXERANY2|FRUIT2|VEGETAB2|_INCOMG1|MEDCOST1|_SEX|
+--------+-----+-------+-------+------+--------+--------+-----+-------+--------+--------+------+--------+--------+--------+----+
|     3.0|  1.0|    1.0|    3.0|1454.0|     1.0|     1.0|  4.0|    5.0|    11.0|     2.0| 101.0|   101.0|     3.0|     2.0| 2.0|
|     1.0|  2.0|    1.0|    1.0|  null|     2.0|     1.0|  6.0|    3.0|    10.0|     1.0| 101.0|   207.0|     9.0|     2.0| 2.0|
|     1.0|  2.0|    2.0|    1.0|2829.0|     2.0|     1.0|  4.0|    2.0|    11.0|     2.0| 101.0|   203.0|     2.0|     2.0| 2.0|
|     1.0|  1.0|    1.0|    1.0|3347.0|     2.0|     2.0|  4.0|    2.0|     9.0|     1.0| 203.0|   205.0|     5.0|     2.0| 2.0|
|     1.0|  7.0|    1.0|    4.0|2873.0|     2.0|     1.0|  3.0|    5.0|    12.0|     1.0| 101.0|   101.0|     2.0|     2.0| 1.0|
|     3.0|  1.0|    2.0|    3.0|2437.0|     1.0|     1.0|  5.0|    3.0|    13.0|     2.0| 202.0|   201.0|     4.0|     2.0| 1.0|
|     3.0|  1.0|    2.0|    1.0|4611.0|     2.0|     1.0|  6.0|    3.0|     9.0|     2.0| 312.0|   202.0|     9.0|     2.0| 1.0|
|     3.0|  1.0|    1.0|    1.0|2274.0|     1.0|     1.0|  3.0|    4.0|     9.0|     1.0| 204.0|   204.0|     9.0|     2.0| 1.0|
|     3.0|  1.0|    2.0|    3.0|  null|     2.0|     1.0|  3.0|    2.0|    12.0|     2.0| 202.0|   202.0|     9.0|     2.0| 2.0|
|     3.0|  1.0|    2.0|    1.0|3994.0|     1.0|     1.0|  4.0|    3.0|    10.0|     1.0| 101.0|   204.0|     5.0|     2.0| 2.0|
|     3.0|  1.0|    1.0|    1.0|2746.0|     1.0|     1.0|  5.0|    4.0|    10.0|     2.0| 203.0|   203.0|     2.0|     2.0| 2.0|
|     3.0|  9.0|    1.0|    1.0|3344.0|     2.0|     1.0|  4.0|    3.0|    12.0|     2.0| 205.0|   101.0|     2.0|     2.0| 2.0|
|     3.0|  1.0|    1.0|    3.0|2374.0|     2.0|     1.0|  3.0|    4.0|    11.0|     2.0| 101.0|   303.0|     9.0|     1.0| 2.0|
|     1.0|  1.0|    2.0|    1.0|3467.0|     2.0|     1.0|  6.0|    4.0|    11.0|     2.0| 203.0|   207.0|     9.0|     2.0| 2.0|
|     3.0|  1.0|    1.0|    3.0|2923.0|     2.0|     1.0|  4.0|    4.0|    12.0|     1.0| 101.0|   330.0|     9.0|     2.0| 2.0|
|     3.0|  1.0|    1.0|    3.0|  null|     1.0|     1.0|  6.0|    2.0|     9.0|     1.0| 315.0|   330.0|     5.0|     2.0| 2.0|
|     1.0|  1.0|    1.0|    3.0|1785.0|     1.0|     1.0|  4.0|    4.0|     9.0|     1.0| 101.0|   101.0|     3.0|     1.0| 2.0|
|     1.0|  1.0|    2.0|    3.0|2392.0|     2.0|     1.0|  6.0|    4.0|    12.0|     2.0| 302.0|   207.0|     5.0|     2.0| 1.0|
|     1.0|  1.0|    1.0|    1.0|3543.0|     2.0|     1.0|  4.0|    5.0|    12.0|     2.0| 777.0|    null|     9.0|     2.0| 2.0|
|     3.0|  1.0|    1.0|    1.0|2986.0|     2.0|     1.0|  4.0|    2.0|     7.0|     2.0| 202.0|   207.0|     4.0|     2.0| 2.0|
+--------+-----+-------+-------+------+--------+--------+-----+-------+--------+--------+------+--------+--------+--------+----+
only showing top 20 rows

### Clean up Columns

In [6]:
import pandas as pd
pandas_df = new_df.toPandas()
pandas_df = pandas_df.dropna()

pandas_df

,DIABETE4,_RACE,TOLDHI3,BPHIGH6,_BMI5,SMOKE100,_RFBING5,EDUCA,GENHLTH,_AGEG5YR,EXERANY2,FRUIT2,VEGETAB2,_INCOMG1,MEDCOST1,_SEX
0,3.0,1.0,1.0,3.0,1454.0,1.0,1.0,4.0,5.0,11.0,2.0,101.0,101.0,3.0,2.0,2.0
2,1.0,2.0,2.0,1.0,2829.0,2.0,1.0,4.0,2.0,11.0,2.0,101.0,203.0,2.0,2.0,2.0
3,1.0,1.0,1.0,1.0,3347.0,2.0,2.0,4.0,2.0,9.0,1.0,203.0,205.0,5.0,2.0,2.0
4,1.0,7.0,1.0,4.0,2873.0,2.0,1.0,3.0,5.0,12.0,1.0,101.0,101.0,2.0,2.0,1.0
5,3.0,1.0,2.0,3.0,2437.0,1.0,1.0,5.0,3.0,13.0,2.0,202.0,201.0,4.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438687,1.0,8.0,1.0,1.0,2148.0,2.0,2.0,2.0,4.0,10.0,1.0,315.0,205.0,2.0,2.0,1.0
438688,2.0,9.0,2.0,1.0,2469.0,1.0,1.0,4.0,2.0,3.0,1.0,210.0,103.0,3.0,1.0,2.0
438690,3.0,2.0,1.0,3.0,3068.0,2.0,1.0,6.0,2.0,7.0,1.0,102.0,101.0,6.0,2.0,1.0
438691,3.0,9.0,2.0,1.0,2373.0,2.0,1.0,4.0,2.0,10.0,1.0,101.0,101.0,4.0,2.0,1.0
438692,3.0,2.0,1.0,3.0,3171.0,2.0,1.0,6.0,1.0,6.0,1.0,305.0,305.0,4.0,2.0,2.0

In [7]:
# check for unique values to replace for encoding
pandas_df.EDUCA.unique()

array([4., 3., 5., 6., 2., 9., 1.])

In [8]:
# Replace Values based on responses provided in survey response form and confirm updated values
pandas_df = pandas_df.replace({"EDUCA":{4.:"High School Grad",
                                        6.:"College Grad",
                                        3.:"Some High School",
                                        5.:"Some College",
                                        2.:"Elementary",
                                        1.:"None",
                                        9.:""}})
pandas_df.EDUCA.unique()

array(['High School Grad', 'Some High School', 'Some College',
       'College Grad', 'Elementary', '', 'None'], dtype=object)

In [9]:
pandas_df.GENHLTH.unique()

array([5., 2., 3., 4., 1., 7., 9.])

In [10]:
# Replace Values based on responses provided in survey response form and confirm confirm updated values
pandas_df = pandas_df.replace({"GENHLTH":{1.:"Excellent",
                                          2.:"Very Good",
                                          3.:"Good",
                                          4.:"Fair",
                                          5.:"Poor",
                                          7.:"",
                                          9.:""}})
pandas_df.GENHLTH.unique()

array(['Poor', 'Very Good', 'Good', 'Fair', 'Excellent', ''], dtype=object)

In [11]:
pandas_df._INCOMG1.unique()

array([3., 2., 5., 4., 9., 1., 6., 7.])

In [12]:
# Replace Values based on responses provided in survey response form and confirm confirm updated values
pandas_df = pandas_df.replace({"_INCOMG1":{1.:"Less than $15,000",
                                           2.:"$15,000 to < $25,000",
                                           3.:"$25,000 to < $35,000",
                                           4.:"$35,000 to < $50,000",
                                           5.:"$50,000 to < $100,000",
                                           6.:"$100,000 to < $200,000",
                                           7.:" > $200,000",
                                           9.:""}})
pandas_df._INCOMG1.unique()

array(['$25,000 to < $35,000', '$15,000 to < $25,000',
       '$50,000 to < $100,000', '$35,000 to < $50,000', '',
       'Less than $15,000', '$100,000 to < $200,000', ' > $200,000'],
      dtype=object)

In [13]:
# Check unique values for Race
pandas_df._RACE.unique()

array([1., 2., 7., 9., 8., 3., 4., 6., 5.])

In [14]:
# Replace values based on responses in survey for Race
pandas_df = pandas_df.replace({"_RACE":{1.:"White",
                               2.:"Black",
                               3.:"American Indian or Alaskan Native",
                               4.:"Asian",
                               5.:" Native Hawaiian or other Pacific Islander",
                               6.:"Other",
                               7.:"Multiracial",
                               8.:"Hispanic",
                               9.:""}})
pandas_df._RACE.unique()

array(['White', 'Black', 'Multiracial', '', 'Hispanic',
       'American Indian or Alaskan Native', 'Asian', 'Other',
       ' Native Hawaiian or other Pacific Islander'], dtype=object)

In [15]:
# Check unique values for TOLDHI3 (high cholesterol)
pandas_df.TOLDHI3.unique()

array([1., 2., 7., 9.])

In [16]:
# Replace values based on responses in survey for cholesterol
pandas_df = pandas_df.replace({"TOLDHI3":{1.:"Yes",
                                          2.:"No",
                                          7.:"",
                                          9.:""}})
pandas_df.TOLDHI3.unique()

array(['Yes', 'No', ''], dtype=object)

In [17]:
# BMI Decimal Change
pandas_df['_BMI5'] = pandas_df['_BMI5'] / 100.0
pandas_df['_BMI5'] = round(pandas_df['_BMI5'], 2)

In [18]:
# Check unique values for SMOKE100 
pandas_df.SMOKE100.unique()

array([1., 2., 7., 9.])

In [19]:
# Replace values based on responses in survey for SMOKE100
pandas_df = pandas_df.replace({"SMOKE100":{1.:"Yes",
                                           2.:"No",
                                           7.:"",
                                           9.:""}})
pandas_df.SMOKE100.unique()

array(['Yes', 'No', ''], dtype=object)

In [20]:
# Check unique values for _RFBING5
pandas_df._RFBING5.unique()

array([1., 2., 9.])

In [21]:
# Replace values based on responses in survey for _RFBING5
pandas_df = pandas_df.replace({"_RFBING5":{1.:"Yes",
                                           2.:"No",
                                           9.:""}})
pandas_df._RFBING5.unique()

array(['Yes', 'No', ''], dtype=object)

In [22]:
# Check unique values for EXERANY2
pandas_df.EXERANY2.unique()

array([2., 1., 7., 9.])

In [23]:
# Replace values based on responses in survey for EXERANY2
pandas_df = pandas_df.replace({"EXERANY2":{1.:"Yes",
                                           2.:"No",
                                           7.:"",
                                           9.:""}})
pandas_df.EXERANY2.unique()

array(['No', 'Yes', ''], dtype=object)

In [24]:
# Check unique values for DIABETE4
pandas_df.DIABETE4.unique()

array([3., 1., 4., 2., 7., 9.])

In [25]:
# Replace values based on responses for DIABETE4
pandas_df = pandas_df.replace({"DIABETE4":{1.: "Yes", 
                                           2.: "Yes", 
                                           3.: "No",
                                           4.: "No", 
                                           7.: "", 
                                           9.:""}})

In [26]:
# Check unique values for FRUIT2
pandas_df.FRUIT2.unique()

array([101., 203., 202., 312., 204., 205., 302., 102., 301., 330., 555.,
       307., 300., 201., 305., 303., 306., 103., 777., 207., 308., 220.,
       206., 315., 310., 105., 304., 235., 320., 325., 314., 104., 106.,
       208., 107., 316., 309., 317., 390., 360., 999., 345., 210., 340.,
       221., 215., 110., 130., 399., 230., 199., 299., 335., 324., 214.,
       212., 328., 125., 327., 114., 336., 250., 218., 108., 209., 326.,
       350., 323., 318., 321., 342., 322., 115., 120., 109., 118., 123.,
       180., 216., 160., 150., 311., 113., 380., 192., 225., 228., 329.,
       332., 370., 240., 122., 294., 211., 112., 339., 375., 331., 392.,
       363., 127., 111., 333., 121., 384., 226., 131., 313., 241., 134.,
       344., 222., 116., 365., 355., 224., 338., 232., 397., 124., 227.,
       319., 188., 213., 223., 334., 293., 190., 193., 166., 398., 337.,
       217., 260., 396., 119., 117., 198., 341., 275., 261., 128., 191.,
       348., 139., 298., 255., 133., 189., 140., 177., 291., 233., 354.,
       388., 219., 132., 145., 245., 292., 251., 362., 165., 385., 366.,
       352., 135.])

In [27]:
import numpy as np
pandas_df = pandas_df.replace({"FRUIT2":{300.:500.}})
pandas_df['FRUIT2'] = np.where(pandas_df['FRUIT2'].between(0,400), "Yes", pandas_df['FRUIT2'])
pandas_df = pandas_df.replace({"FRUIT2":{'500.0': "No", '555.0': "No", '777.0': "", '999.0': ""}})
pandas_df.FRUIT2.unique()

array(['Yes', 'No', ''], dtype=object)

In [28]:
# Check unique values for VEGETEB2
pandas_df.VEGETAB2.unique()

array([101., 203., 205., 201., 202., 204., 303., 207., 330., 306., 102.,
       105., 555., 777., 307., 301., 310., 320., 315., 225., 329., 104.,
       304., 302., 206., 103., 214., 325., 312., 316., 300., 210., 308.,
       328., 305., 314., 360., 209., 107., 327., 212., 333., 318., 324.,
       365., 326., 317., 340., 999., 311., 309., 323., 220., 321., 106.,
       313., 215., 199., 345., 128., 399., 355., 130., 350., 125., 115.,
       356., 223., 114., 112., 332., 208., 331., 109., 322., 335., 250.,
       299., 375., 150., 390., 119., 230., 108., 120., 111., 110., 160.,
       240., 175., 354., 319., 218., 348., 191., 370., 233., 217., 228.,
       221., 127., 245., 129., 380., 165., 211., 260., 124., 123., 339.,
       140., 338., 222., 227., 121., 292., 336., 192., 280., 295., 213.,
       359., 226., 358., 216., 362., 342., 393., 134., 189., 133., 382.,
       122., 231., 166., 275., 116., 139., 131., 352., 294., 180., 117.,
       177., 395., 269., 296., 171., 118., 337., 353., 234., 232.])

In [29]:
#VEGETEB2!!!! This needs to be updated - see above for values
pandas_df = pandas_df.replace({"VEGETAB2":{300.:500.}})
pandas_df['VEGETAB2'] = np.where(pandas_df['VEGETAB2'].between(0,400), "Yes", pandas_df['VEGETAB2'])
pandas_df = pandas_df.replace({"VEGETAB2":{'500.0': "No", '555.0': "No", '777.0': "", '999.0': ""}})
pandas_df.VEGETAB2.unique()

array(['Yes', 'No', ''], dtype=object)

In [30]:
# Check unique values for MEDCOST1
pandas_df.MEDCOST1.unique()

array([2., 1., 7., 9.])

In [31]:
#MEDCOST1	updates with survey results
pandas_df = pandas_df.replace({"MEDCOST1":{1.:"Yes", 2.:"No", 7.:"", 9.:""}})
pandas_df.MEDCOST1.unique()

array(['No', 'Yes', ''], dtype=object)

In [32]:
# Check unique values for _SEX
pandas_df._SEX.unique()

array([2., 1.])

In [33]:
#_SEX
pandas_df = pandas_df.replace({"_SEX":{1.:"Male", 2.:"Female"}})

In [34]:
# Check unique values for BPHIGH6
pandas_df.BPHIGH6.unique()

array([3., 1., 4., 2., 7., 9.])

In [35]:
# Replace values based on responses for BPHIGH6
pandas_df = pandas_df.replace({"BPHIGH6": {1.: "Yes",
                                           2.: "Yes",
                                           3.: "No",
                                           4.: "No", 
                                           7.: "", 
                                           9.:""}})

In [36]:
pandas_df

,DIABETE4,_RACE,TOLDHI3,BPHIGH6,_BMI5,SMOKE100,_RFBING5,EDUCA,GENHLTH,_AGEG5YR,EXERANY2,FRUIT2,VEGETAB2,_INCOMG1,MEDCOST1,_SEX
0,No,White,Yes,No,14.54,Yes,Yes,High School Grad,Poor,11.0,No,Yes,Yes,"$25,000 to < $35,000",No,Female
2,Yes,Black,No,Yes,28.29,No,Yes,High School Grad,Very Good,11.0,No,Yes,Yes,"$15,000 to < $25,000",No,Female
3,Yes,White,Yes,Yes,33.47,No,No,High School Grad,Very Good,9.0,Yes,Yes,Yes,"$50,000 to < $100,000",No,Female
4,Yes,Multiracial,Yes,No,28.73,No,Yes,Some High School,Poor,12.0,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
5,No,White,No,No,24.37,Yes,Yes,Some College,Good,13.0,No,Yes,Yes,"$35,000 to < $50,000",No,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438687,Yes,Hispanic,Yes,Yes,21.48,No,No,Elementary,Fair,10.0,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
438688,Yes,,No,Yes,24.69,Yes,Yes,High School Grad,Very Good,3.0,Yes,Yes,Yes,"$25,000 to < $35,000",Yes,Female
438690,No,Black,Yes,No,30.68,No,Yes,College Grad,Very Good,7.0,Yes,Yes,Yes,"$100,000 to < $200,000",No,Male
438691,No,,No,Yes,23.73,No,Yes,High School Grad,Very Good,10.0,Yes,Yes,Yes,"$35,000 to < $50,000",No,Male
438692,No,Black,Yes,No,31.71,No,Yes,College Grad,Excellent,6.0,Yes,Yes,Yes,"$35,000 to < $50,000",No,Female

In [37]:
pandas_df = pandas_df.replace({"_AGEG5YR": {1.: "Age 18 to 24",
                                            2.: "Age 25 to 29 ",
                                            3.: "Age 30 to 34 ",
                                            4.: "Age 35 to 39 ",
                                            5.: "Age 40 to 44",
                                            6.: "Age 45 to 49",
                                            7.: "Age 50 to 54",
                                            8.: "Age 55 to 59 ",
                                            9.: "Age 60 to 64 ",
                                            10.: "Age 65 to 69 ",
                                            11.: "Age 70 to 74 ",
                                            12.: "Age 75 to 79",
                                            13.: "Age 80 or older",
                                            14.: ""}})

In [38]:
pandas_df=pandas_df.mask(pandas_df == "")

In [39]:
pandas_df.isna().sum()

DIABETE4      402
_RACE        5867
TOLDHI3      2425
BPHIGH6       842
_BMI5           0
SMOKE100     1814
_RFBING5     5305
EDUCA         689
GENHLTH       611
_AGEG5YR     3690
EXERANY2      477
FRUIT2       5299
VEGETAB2     4572
_INCOMG1    51064
MEDCOST1      660
_SEX            0
dtype: int64

In [40]:
pandas_df = pandas_df.dropna()

In [41]:
pandas_df.reset_index(drop=True)

,DIABETE4,_RACE,TOLDHI3,BPHIGH6,_BMI5,SMOKE100,_RFBING5,EDUCA,GENHLTH,_AGEG5YR,EXERANY2,FRUIT2,VEGETAB2,_INCOMG1,MEDCOST1,_SEX
0,No,White,Yes,No,14.54,Yes,Yes,High School Grad,Poor,Age 70 to 74,No,Yes,Yes,"$25,000 to < $35,000",No,Female
1,Yes,Black,No,Yes,28.29,No,Yes,High School Grad,Very Good,Age 70 to 74,No,Yes,Yes,"$15,000 to < $25,000",No,Female
2,Yes,White,Yes,Yes,33.47,No,No,High School Grad,Very Good,Age 60 to 64,Yes,Yes,Yes,"$50,000 to < $100,000",No,Female
3,Yes,Multiracial,Yes,No,28.73,No,Yes,Some High School,Poor,Age 75 to 79,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
4,No,White,No,No,24.37,Yes,Yes,Some College,Good,Age 80 or older,No,Yes,Yes,"$35,000 to < $50,000",No,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250523,No,Black,Yes,Yes,20.98,No,Yes,High School Grad,Good,Age 55 to 59,Yes,Yes,Yes,"$25,000 to < $35,000",No,Male
250524,No,Black,No,No,29.05,No,Yes,College Grad,Very Good,Age 25 to 29,Yes,Yes,Yes,"> $200,000",No,Male
250525,Yes,Hispanic,Yes,Yes,21.48,No,No,Elementary,Fair,Age 65 to 69,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
250526,No,Black,Yes,No,30.68,No,Yes,College Grad,Very Good,Age 50 to 54,Yes,Yes,Yes,"$100,000 to < $200,000",No,Male
250527,No,Black,Yes,No,31.71,No,Yes,College Grad,Excellent,Age 45 to 49,Yes,Yes,Yes,"$35,000 to < $50,000",No,Female

In [42]:
# Identify outliers in BMI data, create summary statistics to identify quartiles
# urban_drivers = urban_cities_df['driver_count']
bmi_df = pandas_df["_BMI5"]
bmi_df

0         14.54
2         28.29
3         33.47
4         28.73
5         24.37
          ...
438685    20.98
438686    29.05
438687    21.48
438690    30.68
438692    31.71
Name: _BMI5, Length: 250528, dtype: float64

In [43]:
#get summary statistics
bmi_df.describe()

count    250528.000000
mean         28.978447
std           6.574445
min          12.020000
25%          24.410000
50%          27.890000
75%          32.190000
max          99.330000
Name: _BMI5, dtype: float64

In [44]:
bmi_q1 = bmi_df.quantile(0.25)
bmi_q3 = bmi_df.quantile(0.75)
bmi_iqr = bmi_q3 - bmi_q1

In [45]:
filtered_bmi_df = pandas_df.loc[(pandas_df["_BMI5"] > (bmi_q1 - (1.5 * bmi_iqr))) & (pandas_df["_BMI5"] < (bmi_q3 + (1.5 * bmi_iqr)))]
filtered_bmi_df

,DIABETE4,_RACE,TOLDHI3,BPHIGH6,_BMI5,SMOKE100,_RFBING5,EDUCA,GENHLTH,_AGEG5YR,EXERANY2,FRUIT2,VEGETAB2,_INCOMG1,MEDCOST1,_SEX
0,No,White,Yes,No,14.54,Yes,Yes,High School Grad,Poor,Age 70 to 74,No,Yes,Yes,"$25,000 to < $35,000",No,Female
2,Yes,Black,No,Yes,28.29,No,Yes,High School Grad,Very Good,Age 70 to 74,No,Yes,Yes,"$15,000 to < $25,000",No,Female
3,Yes,White,Yes,Yes,33.47,No,No,High School Grad,Very Good,Age 60 to 64,Yes,Yes,Yes,"$50,000 to < $100,000",No,Female
4,Yes,Multiracial,Yes,No,28.73,No,Yes,Some High School,Poor,Age 75 to 79,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
5,No,White,No,No,24.37,Yes,Yes,Some College,Good,Age 80 or older,No,Yes,Yes,"$35,000 to < $50,000",No,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438685,No,Black,Yes,Yes,20.98,No,Yes,High School Grad,Good,Age 55 to 59,Yes,Yes,Yes,"$25,000 to < $35,000",No,Male
438686,No,Black,No,No,29.05,No,Yes,College Grad,Very Good,Age 25 to 29,Yes,Yes,Yes,"> $200,000",No,Male
438687,Yes,Hispanic,Yes,Yes,21.48,No,No,Elementary,Fair,Age 65 to 69,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
438690,No,Black,Yes,No,30.68,No,Yes,College Grad,Very Good,Age 50 to 54,Yes,Yes,Yes,"$100,000 to < $200,000",No,Male
438692,No,Black,Yes,No,31.71,No,Yes,College Grad,Excellent,Age 45 to 49,Yes,Yes,Yes,"$35,000 to < $50,000",No,Female

In [46]:
filtered_bmi_df.rename(columns={"DIABETE4": "Diabetes_Status", 
                                "_RACE": "Ethnicity", 
                                "TOLDHI3": "High_Cholesterol", 
                                "BPHIGH6": "High_Blood_Pressure",
                                "_BMI5": "BMI", 
                                "SMOKE100": "Smoked_Cigarettes",
                                "_RFBING5": "Alcohol_Use_30_Days",
                                "EDUCA": "Education", 
                                "GENHLTH": "Gen_Health",
                                "_AGEG5YR": "Age_Group",
                                "EXERANY2": "Exercise_Last_30_Days", 
                                "FRUIT2": "Fruit_Consumption", 
                                "VEGETAB2": "Vegetable_Consumption",
                                "_INCOMG1": "Income", 
                                "MEDCOST1": "Unable_to_see_doctor",
                                "_SEX": "Gender"}, inplace=True)

<ipython-input-46-216d62f73da6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_bmi_df.rename(columns={"DIABETE4": "Diabetes_Status",

In [47]:
filtered_bmi_df

,Diabetes_Status,Ethnicity,High_Cholesterol,High_Blood_Pressure,BMI,Smoked_Cigarettes,Alcohol_Use_30_Days,Education,Gen_Health,Age_Group,Exercise_Last_30_Days,Fruit_Consumption,Vegetable_Consumption,Income,Unable_to_see_doctor,Gender
0,No,White,Yes,No,14.54,Yes,Yes,High School Grad,Poor,Age 70 to 74,No,Yes,Yes,"$25,000 to < $35,000",No,Female
2,Yes,Black,No,Yes,28.29,No,Yes,High School Grad,Very Good,Age 70 to 74,No,Yes,Yes,"$15,000 to < $25,000",No,Female
3,Yes,White,Yes,Yes,33.47,No,No,High School Grad,Very Good,Age 60 to 64,Yes,Yes,Yes,"$50,000 to < $100,000",No,Female
4,Yes,Multiracial,Yes,No,28.73,No,Yes,Some High School,Poor,Age 75 to 79,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
5,No,White,No,No,24.37,Yes,Yes,Some College,Good,Age 80 or older,No,Yes,Yes,"$35,000 to < $50,000",No,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438685,No,Black,Yes,Yes,20.98,No,Yes,High School Grad,Good,Age 55 to 59,Yes,Yes,Yes,"$25,000 to < $35,000",No,Male
438686,No,Black,No,No,29.05,No,Yes,College Grad,Very Good,Age 25 to 29,Yes,Yes,Yes,"> $200,000",No,Male
438687,Yes,Hispanic,Yes,Yes,21.48,No,No,Elementary,Fair,Age 65 to 69,Yes,Yes,Yes,"$15,000 to < $25,000",No,Male
438690,No,Black,Yes,No,30.68,No,Yes,College Grad,Very Good,Age 50 to 54,Yes,Yes,Yes,"$100,000 to < $200,000",No,Male
438692,No,Black,Yes,No,31.71,No,Yes,College Grad,Excellent,Age 45 to 49,Yes,Yes,Yes,"$35,000 to < $50,000",No,Female

In [48]:
# check summary statistics
filtered_bmi_df.describe()

                 BMI
count  242802.000000
mean       28.324162
std         5.420467
min        12.750000
25%        24.390000
50%        27.480000
75%        31.640000
max        43.850000

In [49]:
filtered_bmi_df.dtypes

Diabetes_Status           object
Ethnicity                 object
High_Cholesterol          object
High_Blood_Pressure       object
BMI                      float64
Smoked_Cigarettes         object
Alcohol_Use_30_Days       object
Education                 object
Gen_Health                object
Age_Group                 object
Exercise_Last_30_Days     object
Fruit_Consumption         object
Vegetable_Consumption     object
Income                    object
Unable_to_see_doctor      object
Gender                    object
dtype: object

In [56]:
# Create second dataframe
visualization_df = filtered_bmi_df.drop(['Alcohol_Use_30_Days', 'Education', 'Gen_Health', 'Exercise_Last_30_Days', 'Fruit_Consumption', 'Vegetable_Consumption', 'Unable_to_see_doctor'], 1)

<ipython-input-56-98a5dedead0d>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  visualization_df = filtered_bmi_df.drop(['Alcohol_Use_30_Days', 'Education', 'Gen_Health', 'Exercise_Last_30_Days', 'Fruit_Consumption', 'Vegetable_Consumption', 'Unable_to_see_doctor'], 1)

In [57]:
visualization_df.head()

,Diabetes_Status,Ethnicity,High_Cholesterol,High_Blood_Pressure,BMI,Smoked_Cigarettes,Age_Group,Income,Gender
0,No,White,Yes,No,14.54,Yes,Age 70 to 74,"$25,000 to < $35,000",Female
2,Yes,Black,No,Yes,28.29,No,Age 70 to 74,"$15,000 to < $25,000",Female
3,Yes,White,Yes,Yes,33.47,No,Age 60 to 64,"$50,000 to < $100,000",Female
4,Yes,Multiracial,Yes,No,28.73,No,Age 75 to 79,"$15,000 to < $25,000",Male
5,No,White,No,No,24.37,Yes,Age 80 or older,"$35,000 to < $50,000",Male

In [58]:
# convert dataframes to pyspark to load into AWS
filtered_bmi_df_py = spark.createDataFrame(filtered_bmi_df)
visualization_df_py = spark.createDataFrame(visualization_df)

/content/spark-3.2.3-bin-hadoop2.7/python/pyspark/sql/pandas/conversion.py:371: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [59]:
# Configure settings for RDS
#from getpass import getpass
mode = "append"
jdbc_url='jdbc:postgresql://database-2.ch7jmx5vb0uq.us-east-2.rds.amazonaws.com:5432/team_final_project'
config = {"user":"postgres",
          "password": "Quizab56()",
          "driver":"org.postgresql.Driver"}

In [60]:
# Write review_id_df to table in RDS
filtered_bmi_df_py.write.jdbc(url=jdbc_url, table='filtered_bmi_df', mode=mode, properties=config)

In [61]:
# Write review_id_df to table in RDS
visualization_df_py.write.jdbc(url=jdbc_url, table='visualization_df', mode=mode, properties=config)